@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap);

:root {
    --background: rgb(250, 250, 250);
    --foreground: #0f0e12;
    --border: #2f4538;
    --text: rgb(50, 50, 50);
    --details: rgb(200, 200, 200);
    --buttons: rgb(255, 182, 193);
    --concluided: rgb(152, 251, 152);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.5;
}

.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 12vw;
    background-color: var(--foreground);
    display: fixed;
    height: 100vh;
}

.sidebar-logo {
    display: flex;
}

.sidebar-login {
    display: flex;
    padding-left: 10px;
    gap: 3px;
}

.sidebar-login span {
    align-self: center;
    margin-top: -3px;
    color: white;

}

.sidebar-login i {
    color: white;
    align-self: center;
    cursor: pointer;
}

.sidebar-login img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
    margin-top: 50px;
}

.sidebar p {
    padding: 15px;
    margin-top: -15px;
}

.sidebar-items a {
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.sidebar-items a:hover {
    color: var(--details);
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    gap: 5px;
}

.sidebar-buttons button {
    height: 50px;
    width: 80%;
    place-self: center;
    background-color: var(--concluided);
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.sidebar p {
    font-size: 0.81rem;
}

.content {
    flex-grow: 1;
}
/* ----- */

/* Aba home */

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.home {
    border-top: 150px solid #7be7ab;
    border-bottom: 150px solid #7be7ab;
    height: 100vh;
}

.bloco-home {
    height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 7rem;
    display: flex;
}

.home-header {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid var(--details);
}

.home-header h1 {
    font-size: 45px;
    margin-top: -30px;
}

.home-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -4.37rem;
}

.home-items ul {
    list-style-type: none;
}

.home-items a {
    display: flex;
    gap: 10px;
    font-size: 24px;
    text-decoration: none;
    color: var(--text);
    transition: color 0.3sec ease;
}

.home-items li, a {
}

.home-items a:hover {
    color: var(--details);
}

.home-items h2 {
    margin-bottom: 60px;
    font-size: 38px;
}
/* ----- */

/* Aba Tasks */

.tasks-content {
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    gap: 35px;
    height: 100vh;
}

.tasks-header {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
}

.tasks-header span {
    color: #7be7ab;
    font-size: 20px;
}

.tasks-header span2 {
    font-size: 20px;
}

.tasks-header i.fi {
    font-size: 24px;
    margin-left: 30px;
}

.tasks-header a {
    text-decoration: none;
    color: #2f4a5e;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
    align-self: center;
    justify-content: center;
}

.tasks h1 {
    font-size: 30px;
}

.tasks i.fi {
    color: #7be7ab;
}

.tasks button:hover {
    i.fi {
        color: var(--foreground);
    }
    span {
        color: var(--details);
    }
    
}

.btn-tasks {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    gap: 5px;
    font-family: 'Poppins',sans-serif;
    color: var(--text);
    border: none;
    background-color: transparent;
}

.tasks div:hover {
    color: #7be7ab;
    width: 100px;
}

#listaTarefas {
    margin-top: -150px;
    list-style-type: circle;
    padding: 5px 20px;
}

#listaTarefas ul {
    text-decoration: none;
}

#campoTarefa {
    display: none;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--details);
    border-radius: 8px;
    width: 600px;
    height: 120px;
}

.campoTarefa-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.campoTarefa-content textarea {
    height: 60px;
    width: 590px;
    border: none;
    resize: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 3px 5px; 
    overflow-wrap: break-word;
    white-space: normal;
    outline: none;
}

.campoTarefa-footer {
    display: flex;
    margin-left: 390px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.btn-cancelar  {
    background-color: var(--text);
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
}

.btn-salvar {
    background-color: #7be7ab;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
}

.campoTarefa-footer button:hover {
    opacity: 0.8; /* Dá um efeito de hover */
}









